.search-bar{
    background-color: lightgray;
    width: 80%;
    margin: auto;
    height : 60px;
    max-width : 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width : 90%;
    height :60%;
    max-height:60%;
    font-size: large;
    text-align: center;
}


